/* 모바일 우선 개발 할것임. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* 이미지가 부모 박스보다 커지는 것 방지 (gemini)*/
  height: auto; /* 비율 유지 (gemini)*/
  display: block; /* 이미지 하단 유령 간격 제거 (gemini) */
}

body {
  /* background-color: #303030; */
  background-image: linear-gradient( 110.6deg,  rgba(4,20,51,1) 11.3%, rgba(239,238,249,1) 91.7% );
  min-height: 100vh;
}

/* main {
    (반응형 웹 위해 display: flex 추가 예정?)
    padding: 30px;
} */ 

.chart-builder {
  margin: 0 auto; /*가운데 정렬*/
  padding-top: 70px;
  width: 85%;
  max-width: 600px; 
}

.sidebar-container {
  margin: 0 auto; /*가운데 정렬*/
  margin-top: 20px;
  padding: 10px;
  width: 85%; /*임시*/
  max-width: 600px;
  background-color: #000000;
}

.sidebar-container-navbar{
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.sidebar-container-navbar .search-form {
  display: flex;
  align-items: stretch; /* 부모 요소에 맞춤 */
  gap: 5px;
}

.sidebar-container-range {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-container-range .sidebar-slider {
  width: 270px;
  accent-color: #ffd95d;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr; /*앨범 + 제목*/
  gap: 6px;
  background-color: #000000;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /*없어도 되지 않나?*/
}

.grid-container #logo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 35px;
}

.item {
  position: relative;
  padding: 5px;
  word-break: break-all; /*자동 줄바꿈(임시)*/
  background-color: #ffffff;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center; /*가로 방향 가운데 정렬*/
  align-items: center; /*세로 방향 가운데 정렬*/
}

.item .delete-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  /* appearance: none; */
  background-color: #0009;
  color: #fff;
  border: none;
}

.item .delete-button:hover {
  background-color: rgb(174, 0, 0);
}

.item:hover .delete-button {
  display: block;
}

.title-list {
  color: #ffffff;
  font-size: 12px;
  list-style-type: none;
  /* list-style-position: inside; */
}

.title-list .title-list-item {
  font-size: 0.5rem;
}

/* 데스크톱용 (1024px 이상) */
/* PC 화면에서만 보일 레이아웃 변경 사항 작성 (gemini) */
/* @media (min-width: 1024px) {
} */